
.icon-wallet:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-trash:before { content: '\e802'; } /* '' */
.icon-cancel-circled2:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-floppy:before { content: '\e805'; } /* '' */
.icon-cinema:before { content: '\e80f'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */